@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://use.typekit.net/eia7dfc.css");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bowlby+One&family=Candal&family=Chango&family=Heebo:wght@600;700&family=Lalezar&family=Lexend+Mega&family=Lexend+Peta&family=Noto+Sans+HK:wght@500;700&family=Passion+One:wght@400;700&family=Permanent+Marker&family=Ramabhadra&family=Rammetto+One&family=Righteous&family=Rubik:wght@500;600&family=Single+Day&display=swap");

/* font-family: 'Archivo Black', sans-serif;
font-family: 'Bowlby One', cursive;
font-family: 'Candal', sans-serif;
font-family: 'Chango', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Lalezar', cursive;
font-family: 'Lexend Mega', sans-serif;
font-family: 'Lexend Peta', sans-serif;
font-family: 'Noto Sans HK', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Ramabhadra', sans-serif;
font-family: 'Rammetto One', cursive;
font-family: 'Righteous', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Single Day', cursive;*/
* {
  box-sizing: border-box;
}

#title {
  /* text-transform: uppercase; */
  font-family: maple-web, sans-serif;

  font-weight: 700;

  font-style: normal;
  font-size: 4em;
  color: #ffffff;
  white-space: nowrap;
  letter-spacing: 1px;
  text-shadow: 

  /*long soft bottom*/ 1px 10px 30px rgba(138, 255, 5, 0.4),
    1px 10px 70px rgba(138, 255, 5, 0.4),
    /*short soft bottom*/ 0px 5px 5px rgba(88, 88, 88, 0.4),
    /*left shadow*/ -5px 5px 20px rgba(88, 88, 88, 0.4),
    /*right shadow*/ 5px 5px 20px rgba(88, 88, 88, 0.4);
}

/* #a1f701 */

body {
  background-color: white;
  font-family: "Noto Sans HK", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  position: relative;
  margin-top: -10px;
  /* width: 100px; */
  /* border: 3px solid green; */
  font-family: maple-web, sans-serif;
  font-weight: 700;
  font-style: normal;

  background-color: #ffffff;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0.9rem;
  width: 9em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.75em;
  letter-spacing: 2px;
  text-align: center;
  white-space: normal;
  outline: none;
  background: rgba(80, 194, 3, 0.5);
  box-shadow: inset rgba(129, 129, 129, 0.75) -2px -2px 3px,
    inset rgba(255, 255, 255) 1px 1px 2px;
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}

#toasts {
  position: fixed;
  top: 20%;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: #fff;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  width: 20em;
  font-size: 1em;
  letter-spacing: 0.65px;
  text-align: center;
  text-transform: uppercase;
  background: rgba(255, 243, 205, 0.6);
  box-shadow: 0 8px 32px 0 rgba(191, 191, 192, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.toast.info {
  color: black;
}

.toast.success {
  color: black;
}

.toast.error {
  color: black;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: auto;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 56.25vw;
  min-width: 177.6vh;
  min-height: 100vh;
  transform: translate(-50%, -50%);
  filter: brightness(110%);
}

@media screen and (max-width: 768px) {
  #title {
    font-size: 1.65em;
    /* align-items: center;
    white-space: nowrap; */
  }

  .btn {
    margin-top: -10px;
    padding: 0.8rem;
    width: 8em;

    font-size: 1.5em;
  }

  .toast {
    background-color: #fff;
    border-radius: 5px;
    padding: 0.65rem 1.25rem;
    margin: 0.4rem;
    width: 15em;
    font-size: 0.75em;
    letter-spacing: 0.65px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(255, 243, 205, 0.6);
    box-shadow: 0 8px 32px 0 rgba(191, 191, 192, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
