@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://use.typekit.net/eia7dfc.css");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bowlby+One&family=Candal&family=Chango&family=Heebo:wght@600;700&family=Lalezar&family=Lexend+Mega&family=Lexend+Peta&family=Noto+Sans+HK:wght@500;700&family=Passion+One:wght@400;700&family=Permanent+Marker&family=Ramabhadra&family=Rammetto+One&family=Righteous&family=Rubik:wght@500;600&family=Single+Day&display=swap");

/* font-family: 'Archivo Black', sans-serif;
font-family: 'Bowlby One', cursive;
font-family: 'Candal', sans-serif;
font-family: 'Chango', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Lalezar', cursive;
font-family: 'Lexend Mega', sans-serif;
font-family: 'Lexend Peta', sans-serif;
font-family: 'Noto Sans HK', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Ramabhadra', sans-serif;
font-family: 'Rammetto One', cursive;
font-family: 'Righteous', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Single Day', cursive;*/

/* font-family: maple-web, sans-serif;
  font-weight: 700;
  font-style: normal; */

/* font-family: hwt-gothic-round, sans-serif;
  font-weight: 900;
  font-style: normal; */

* {
  box-sizing: border-box;
}

#title {
  font-family: dunkel-sans-medium, sans-serif;
  font-weight: 900;
  font-style: normal;

  font-size: 4em;
  color: #ffffff;
  white-space: nowrap;
  letter-spacing: 1px;
  text-shadow: 

  /*long soft bottom*/ 1px 10px 30px rgba(138, 255, 5, 0.4),
    1px 10px 70px rgba(138, 255, 5, 0.4),
    /*short soft bottom*/ 0px 5px 5px rgba(88, 88, 88, 0.4),
    /*left shadow*/ -5px 5px 20px rgba(88, 88, 88, 0.4),
    /*right shadow*/ 5px 5px 20px rgba(88, 88, 88, 0.4);
}

/* #a1f701 */

body {
  background-color: white;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  position: relative;
  margin-top: -20px;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;

  background-color: #ffffff;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0.3em;
  width: 6.5em;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  white-space: normal;
  outline: none;
  background: rgba(80, 194, 3, 0.5);
  box-shadow: inset rgba(129, 129, 129, 0.75) -2px -2px 3px,
    inset rgba(255, 255, 255) 2px 2px 2px;
  -webkit-backdrop-filter: blur(4px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}

#toasts {
  position: fixed;
  top: 25%;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: #fff;
  border-radius: 7px;
  padding: 0.8em 1em;
  margin: 0.5em;
  width: 18.5em;
  font-size: 1.3em;
  letter-spacing: 0.65px;
  text-align: center;
  background: rgba(255, 246, 217, 0.8);
  box-shadow: inset rgba(129, 129, 129, 0.75) -2px -2px 3px,
    inset rgba(255, 255, 255) 2px 2px 2px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(1px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

/* rgba(255, 246, 217, 0.8); */
/* #d72301 */

.toast.info {
  color: #f86b29;
}

.toast.success {
  color: #e22904;
}

.toast.error {
  color: rgb(64, 160, 1);
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: auto;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 56.25vw;
  min-width: 177.6vh;
  min-height: 100vh;
  transform: translate(-50%, -50%);
  filter: brightness(115%);
}

/* iPad pro */
@media screen and (max-width: 1024px) {
  #title {
    font-size: 3em;
  }

  .btn {
    margin-top: -10px;
  }

  #toasts {
    top: 22%;
  }
}

@media screen and (max-width: 992px) {
  #title {
    font-size: 2.5em;
  }

  #toasts {
    top: 20%;
  }

  .btn {
    justify-content: center;
    align-items: center;
    padding: 0.4em;
    width: 6.3em;
    font-size: 1.8em;
  }

  .toast {
    background-color: #fff;
    border-radius: 7px;
    padding: 0.8em 1em;
    margin: 0.5em;
    width: 18.4em;
    font-size: 1.1em;
    letter-spacing: 0.65px;
    text-align: center;
    background: rgba(255, 246, 217, 0.8);
    box-shadow: inset rgba(129, 129, 129, 0.75) -2px -2px 3px,
      inset rgba(255, 255, 255) 2px 2px 2px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(1px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
  }
}

/* iPad */
@media screen and (max-width: 768px) {
  #title {
    font-size: 1.65em;
  }

  .btn {
    margin-top: -5px;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    width: 6.2em;
    font-size: 1.7em;
  }

  #toasts {
    top: 18%;
  }

  .toast {
    background-color: #fff;
    border-radius: 7px;
    padding: 0.7em 0.9em;
    margin: 0.4em;
    width: 17.5em;
    font-size: 1em;
    letter-spacing: 0.65px;
    text-align: center;
    background: rgba(255, 246, 217, 0.8);
    box-shadow: inset rgba(129, 129, 129, 0.75) -2px -2px 3px,
      inset rgba(255, 255, 255) 2px 2px 2px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(1px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
  }
}

/* iPhone 6/7/8 */
@media screen and (max-width: 420px) {
  #title {
    font-size: 1.2em;
  }

  .btn {
    margin-top: -5px;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    width: 6.2em;
    font-size: 1.3em;
  }

  #toasts {
    top: 20%;
  }

  .toast {
    background-color: #fff;
    border-radius: 7px;
    padding: 0.7em 1.25em;
    margin: 0.5em;
    width: 14em;
    font-size: 0.8em;
    letter-spacing: 0.65px;
    text-align: center;
    background: rgba(255, 246, 217, 0.8);
    box-shadow: inset rgba(129, 129, 129, 0.75) -2px -2px 3px,
      inset rgba(255, 255, 255) 2px 2px 2px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(1px);
  }
}

/* Galaxy Fold */
@media screen and (max-width: 280px) {
  #title {
    font-size: 1em;
  }

  .btn {
    margin-top: 1px;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    width: 6.2em;
    font-size: 1.1em;
  }

  #toasts {
    top: 15%;
  }

  .toast {
    background-color: #fff;
    border-radius: 7px;
    padding: 0.7em 1.25em;
    margin: 0.5em;
    width: 13.5em;
    font-size: 0.7em;
    letter-spacing: 0.65px;
    text-align: center;
    background: rgba(255, 246, 217, 0.8);
    box-shadow: inset rgba(129, 129, 129, 0.75) -2px -2px 3px,
      inset rgba(255, 255, 255) 2px 2px 2px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(1px);
  }
}

/* background: rgba(255, 246, 217, 0.8);
    box-shadow: 0 8px 32px 0 rgba(191, 191, 192, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18); */
