@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://use.typekit.net/eia7dfc.css");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bowlby+One&family=Candal&family=Chango&family=Heebo:wght@600;700&family=Lalezar&family=Lexend+Mega&family=Lexend+Peta&family=Noto+Sans+HK:wght@500;700&family=Passion+One:wght@400;700&family=Permanent+Marker&family=Ramabhadra&family=Rammetto+One&family=Righteous&family=Rubik:wght@500;600&family=Single+Day&display=swap");

/* font-family: 'Archivo Black', sans-serif;
font-family: 'Bowlby One', cursive;
font-family: 'Candal', sans-serif;
font-family: 'Chango', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Lalezar', cursive;
font-family: 'Lexend Mega', sans-serif;
font-family: 'Lexend Peta', sans-serif;
font-family: 'Noto Sans HK', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Ramabhadra', sans-serif;
font-family: 'Rammetto One', cursive;
font-family: 'Righteous', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Single Day', cursive;*/

/* font-family: maple-web, sans-serif;
  font-weight: 700;
  font-style: normal; */

/* font-family: hwt-gothic-round, sans-serif;
  font-weight: 900;
  font-style: normal; */

:root {
	--white: #ffffff;
	--black: #000000;
	--body-color: #24490c;
	--dunkel: dunkel-sans-medium, sans-serif;
	--myriad: myriad-pro, sans-serif;
	--title-shadow: 1px 10px 30px rgba(138, 255, 5, 0.4), 1px 10px 70px rgba(138, 255, 5, 0.4),
		0px 5px 5px rgba(88, 88, 88, 0.4), -5px 5px 20px rgba(88, 88, 88, 0.4), 5px 5px 20px rgba(88, 88, 88, 0.4);
	--button-background: rgba(67, 169, 0, 0.85);
	--button-outline: rgb(0, 89, 33);
	--button-shadow-1: inset rgba(129, 129, 129, 0.75) -2px -2px 3px, inset rgba(255, 255, 255) 2px 2px 2px;
	--button-shadow-2: inset rgba(93, 93, 93, 0.75) -1px -1px 3px, inset rgba(255, 255, 255) 2px 2px 2px;
	--button-border: 1px solid rgba(255, 255, 255, 0.18);
	--toast-background: rgb(255, 251, 239);
	--toast-shadow: inset rgba(129, 129, 129, 0.88) -2px -2px 3px, inset rgb(255, 255, 255) 2px 2px 2px;
	--toast-orange: #f86b29;
	--toast-red: #e22904;
	--toast-green: rgb(64, 160, 1);
	--github-fill: rgb(68, 169, 0);
	--github-color: var(--white);
	--github-focus: var(--black);
}

* {
	box-sizing: border-box;
}

#title {
	font-family: var(--dunkel);
	font-weight: 900;
	font-style: normal;
	font-size: 4em;
	color: var(--white);
	white-space: nowrap;
	letter-spacing: 1px;
	text-shadow: var(--title-shadow);
}

body {
	background-color: var(--body-color);
	font-family: var(--myriad);
	font-weight: 700;
	font-style: normal;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.btn {
	position: relative;
	margin-top: -20px;
	font-family: var(--myriad);
	font-weight: 700;
	font-style: normal;
	color: var(--white);
	font-weight: bold;
	padding: 0.3em;
	width: 6.5em;
	border-radius: 7px;
	border: none;
	cursor: pointer;
	font-size: 2em;
	letter-spacing: 2px;
	justify-content: center;
	align-items: center;
	white-space: normal;
	outline: none;
	background: var(--button-background);
	box-shadow: var(--button-shadow-2);
	border: var(--button-border);
}

.btn:focus {
	outline: 4px solid var(--button-outline);
}

.btn:active {
	transform: scale(0.96);
}

#toasts {
	position: fixed;
	top: 25%;
	right: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.toast {
	background-color: var(--white);
	border-radius: 7px;
	padding: 0.8em 1em;
	margin: 0.5em;
	width: 18.5em;
	font-size: 1.3em;
	letter-spacing: 0.65px;
	text-align: center;
	background: var(--toast-background);
	box-shadow: var(--toast-shadow);
}

.toast.info {
	color: var(--toast-orange);
}

.toast.success {
	color: var(--toast-red);
}

.toast.error {
	color: var(--toast-green);
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -20;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video-container:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: auto;
}

.video-container video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100vw;
	height: 56.25vw;
	min-width: 177.6vh;
	min-height: 100vh;
	transform: translate(-50%, -50%);
	filter: brightness(115%);
}

.github-corner:focus svg path {
	fill: var(--github-focus);
}

.github-corner:focus .octo-arm,
.github-corner:focus .octo-body {
	fill: var(--github-color);
}

.github-corner:focus .octo-arm,
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 500px) {
	.github-corner {
		display: none;
	}
}

/* iPad pro */
@media screen and (max-width: 1024px) {
	#title {
		font-size: 3em;
	}

	.btn {
		margin-top: -10px;
	}

	#toasts {
		top: 22%;
	}
}

@media screen and (max-width: 992px) {
	#title {
		font-size: 2.5em;
	}

	#toasts {
		top: 20%;
	}

	.btn {
		padding: 0.4em;
		width: 6.3em;
		font-size: 1.8em;
	}

	.toast {
		padding: 0.8em 1em;
		margin: 0.5em;
		width: 18.4em;
		font-size: 1.1em;
	}
}

/* iPad */
@media screen and (max-width: 768px) {
	#title {
		font-size: 1.65em;
	}

	.btn {
		margin-top: -5px;
		padding: 0.3em;
		width: 6.2em;
		font-size: 1.7em;
	}

	#toasts {
		top: 18%;
	}

	.toast {
		padding: 0.7em 0.9em;
		margin: 0.4em;
		width: 17.5em;
		font-size: 1em;
	}
}

/* iPhone 6/7/8 */
@media screen and (max-width: 420px) {
	#title {
		font-size: 1.2em;
	}

	.btn {
		font-size: 1.3em;
	}

	#toasts {
		top: 20%;
	}

	.toast {
		padding: 0.7em 1.25em;
		margin: 0.3em;
		width: 14em;
		font-size: 0.8em;
	}
}

/* Galaxy Fold */
@media screen and (max-width: 280px) {
	#title {
		font-size: 1em;
	}

	.btn {
		margin-top: 1px;
		padding: 0.3em;
		width: 6.2em;
		font-size: 1em;
	}

	#toasts {
		top: 15%;
	}

	.toast {
		width: 13.5em;
		font-size: 0.7em;
	}
}
